* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100dvh;
  background-color: black;
  overscroll-behavior-y: none;
}

.no-transition {
  transition: none !important;
}

.carosello-container {
  overflow-x: hidden;
  position: relative;
  background-color: rgb(20, 20, 20);
}
.carosello-container .btn-container-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10rem;
  z-index: 1;
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.carosello-container .btn-container-right:hover .btn-container-left__button, .carosello-container .btn-container-right:hover .btn-container-right__button {
  opacity: 1;
}
.carosello-container .btn-container-right__button {
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: transparent;
  font-size: 5rem;
  opacity: 0;
  transition: all 0.25s;
  display: flex;
  align-items: center;
}
.carosello-container .btn-container-right__button > svg {
  height: 4rem;
  width: 4rem;
  fill: whitesmoke;
  stroke: whitesmoke;
  stroke-width: 1px;
}
.carosello-container .btn-container-left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10rem;
  z-index: 1;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.carosello-container .btn-container-left:hover .btn-container-left__button, .carosello-container .btn-container-left:hover .btn-container-right__button {
  opacity: 1;
}
.carosello-container .btn-container-left__button {
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: transparent;
  font-size: 5rem;
  opacity: 0;
  transition: all 0.25s;
  display: flex;
  align-items: center;
}
.carosello-container .btn-container-left__button > svg {
  height: 4rem;
  width: 4rem;
  fill: whitesmoke;
  stroke: whitesmoke;
  stroke-width: 1px;
}
.carosello-container .carosello {
  width: 500%;
  height: 33vw;
  display: flex;
  align-items: center;
  transition: all 0.6s;
}
@media only screen and (max-width: 480px) {
  .carosello-container .carosello {
    height: 99.79vw;
  }
}
.carosello-container .carosello__banner {
  height: 92%;
  min-width: 90vw;
  background-color: rgb(136, 105, 105);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 1.25vw;
  transition: all 0.3s;
}
@media only screen and (max-width: 480px) {
  .carosello-container .carosello__banner {
    min-width: 80vw;
  }
}
.carosello-container .carosello__banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 66.66%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
}
.carosello-container .carosello__banner img {
  width: 100%;
  height: 100%;
}
.carosello-container .carosello__banner h1 {
  width: 44%;
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 0.5rem;
  font-size: 5vw;
  color: whitesmoke;
  z-index: 4;
}
.carosello-container .carosello__banner:hover {
  outline: solid 3px whitesmoke;
}

.carosello-index {
  width: 100%;
  height: 2rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(20, 20, 20);
}
.carosello-index__dot {
  width: 7px;
  height: 7px;
  background-color: rgb(150, 150, 150);
  border-radius: 50%;
}

.new-film {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  overflow-x: hidden;
}
.new-film img {
  width: 100%;
  height: 100%;
}
.new-film__title {
  font-size: 1.8rem;
  color: whitesmoke;
  padding-left: 6rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 480px) {
  .new-film__title {
    padding-left: 2rem;
  }
}
.new-film .film-carosello {
  height: min-content;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}
.new-film .continaer-slide {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  overflow-x: auto;
}
@media only screen and (max-width: 480px) {
  .new-film .continaer-slide {
    padding: 0 1rem;
  }
}

.search-container {
  min-height: calc(100dvh - 16rem - 7.2rem);
  background-color: rgb(20, 20, 20);
  position: relative;
}
.search-container .result-container__title {
  color: whitesmoke;
  font-size: 5rem;
  padding: 0.5rem 0 2rem 0;
  font-weight: 400;
}
.search-container .result-container .grid-result .default-search:nth-child(1) {
  background-image: url("../../../assets/img/compose-1.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(2) {
  background-image: url("../../../assets/img/compose-2.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(3) {
  background-image: url("../../../assets/img/compose-3.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(4) {
  background-image: url("../../../assets/img/compose-4.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(5) {
  background-image: url("../../../assets/img/compose-5.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(6) {
  background-image: url("../../../assets/img/compose-6.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(7) {
  background-image: url("../../../assets/img/compose-7.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(8) {
  background-image: url("../../../assets/img/compose-8.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(9) {
  background-image: url("../../../assets/img/compose-9.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(10) {
  background-image: url("../../../assets/img/compose-10.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(11) {
  background-image: url("../../../assets/img/compose-11.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(12) {
  background-image: url("../../../assets/img/compose-12.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(13) {
  background-image: url("../../../assets/img/compose-13.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(14) {
  background-image: url("../../../assets/img/compose-14.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(15) {
  background-image: url("../../../assets/img/compose-15.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(16) {
  background-image: url("../../../assets/img/compose-16.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(17) {
  background-image: url("../../../assets/img/compose-17.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(18) {
  background-image: url("../../../assets/img/compose-18.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(19) {
  background-image: url("../../../assets/img/compose-19.webp");
  background-size: cover;
}
.search-container .result-container .grid-result .default-search:nth-child(20) {
  background-image: url("../../../assets/img/compose-20.webp");
  background-size: cover;
}
.search-container .search-bar {
  height: min-content;
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
  position: sticky;
  top: 7.2rem;
  z-index: 999;
}
.search-container .search-bar__text-box {
  width: 100%;
  height: 10rem;
  background: linear-gradient(to bottom, rgb(41, 42, 48), rgb(74, 77, 87));
  border: none;
  padding-left: 8rem;
  font-size: 3rem;
  color: whitesmoke;
}
@media only screen and (max-width: 1440px) {
  .search-container .search-bar__text-box {
    padding-left: 6.7rem;
  }
}
@media only screen and (max-width: 1024px) {
  .search-container .search-bar__text-box {
    height: 6rem;
    font-size: 2.4rem;
    padding-left: 6.5rem;
  }
}
.search-container .search-bar__text-box::placeholder {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(162, 163, 167);
  align-self: center;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .search-container .search-bar__text-box::placeholder {
    font-size: 2.4rem;
  }
}
.search-container .search-bar__text-box:focus {
  outline: none;
  background: linear-gradient(to bottom, rgb(49, 50, 58), rgb(183, 183, 187));
}
.search-container .search-bar__text-box:focus::placeholder {
  color: rgb(229, 229, 229);
}
.search-container .search-bar__cross {
  height: 6rem;
  width: 6rem;
  right: 7rem;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 999;
  padding: 1rem;
  display: none;
}
.search-container .search-bar__cross > svg {
  height: 100%;
  width: 100%;
  fill: whitesmoke;
}

.information-container {
  min-height: 100dvh;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overscroll-behavior-y: none;
}
.information-container .background-container {
  position: fixed;
  z-index: -1;
  top: 7.2rem;
  left: 0;
}
.information-container .background-container__img {
  width: 100%;
}
.information-container .background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
}
.information-container .background-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, black, transparent);
  z-index: 2;
}
.information-container .information {
  position: relative;
  top: 0;
  z-index: 3;
  padding: 7rem 0;
  margin: 0 7.1rem;
}
@media only screen and (max-width: 1440px) {
  .information-container .information {
    margin: 0 5.8rem 0 5.8rem;
  }
}
@media only screen and (max-width: 1024px) {
  .information-container .information {
    margin: 0 5.6rem 0 5.6rem;
  }
}
@media only screen and (max-width: 756px) {
  .information-container .information {
    margin: 0 4rem 0 4rem;
  }
}
.information-container .information .information-box {
  width: 60rem;
  height: min-content;
}
@media only screen and (max-width: 767px) {
  .information-container .information .information-box {
    width: 100%;
  }
}
.information-container .information .information-box__title {
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 1.8rem;
}
@media only screen and (max-width: 767px) {
  .information-container .information .information-box__title {
    font-size: 4rem;
    width: min-content;
  }
}
@media only screen and (max-width: 480px) {
  .information-container .information .information-box__title {
    font-size: 2.75rem;
  }
}
.information-container .information .information-box .features-info {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
  color: whitesmoke;
}
.information-container .information .information-box .features-info__text {
  font-size: 1.8rem;
  background-color: rgb(61, 61, 61);
  padding: 0.2rem 0.3rem;
  border-radius: 2px;
}
.information-container .information .information-box .technical-info {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: whitesmoke;
}
.information-container .information .information-box .technical-info__text {
  font-size: 1.4rem;
}
.information-container .information .information-box__description {
  font-size: 2.2rem;
  margin: 2.4rem 0;
  color: whitesmoke;
}
@media only screen and (max-width: 767px) {
  .information-container .information .information-box__description {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .information-container .information .information-box__description {
    font-size: 1.6rem;
  }
}
.information-container .information .information-box .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .information-container .information .information-box .btn-container {
    flex-direction: column;
  }
}
.information-container .information .information-box .btn-container__button {
  height: 5.6rem;
  border: none;
  display: flex;
  font-size: 1.8rem;
  text-transform: uppercase;
  align-items: center;
  padding: 0 2.4rem;
  background-color: rgb(70, 69, 72);
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.information-container .information .information-box .btn-container__button:hover {
  background-color: rgb(90.2553191489, 88.9659574468, 92.8340425532);
}
.information-container .information .information-box .btn-container__button:nth-child(1) {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  background-color: whitesmoke;
  color: black;
}
.information-container .information .information-box .btn-container__button:nth-child(1) svg {
  fill: black;
  width: 2.4rem;
  height: 2.4rem;
}
@media only screen and (max-width: 767px) {
  .information-container .information .information-box .btn-container__button:nth-child(1) {
    width: 100%;
  }
}
.information-container .information .information-box .btn-container__button:nth-child(2) {
  margin: 0 2rem;
}
@media only screen and (max-width: 767px) {
  .information-container .information .information-box .btn-container__button:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }
}
.information-container .information .information-box .btn-container__button:nth-child(3) {
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}
.information-container .information .information-box .btn-container__button:nth-child(3) svg {
  width: 2.4rem;
  height: 2.4rem;
}

.extra-container {
  width: 100%;
  margin-top: 10rem;
}
.extra-container .extra-btn {
  display: flex;
  gap: 2.5rem;
}
.extra-container .extra-btn__button {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(150, 150, 150);
  position: relative;
}
.extra-container .extra-btn__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(150, 150, 150);
  transform: translateY(0.9rem);
  display: none;
}
.extra-container .extra-btn__button:hover {
  color: whitesmoke;
  transition: all 0.2s;
}
.extra-container .extra-btn__button:hover::after {
  display: block;
  background-color: whitesmoke;
}
.extra-container .extra-btn__button:nth-child(2) {
  color: whitesmoke;
}
.extra-container .extra-btn__button:nth-child(2)::after {
  background-color: whitesmoke;
  display: block;
}
.extra-container__line {
  margin-top: 0.5rem;
  height: 4px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.3);
  margin-bottom: 3rem;
}

.getapp-container {
  height: min-content;
  background-color: rgb(70, 69, 72);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.getapp-container__logo {
  padding-top: 4.5rem;
}
@media only screen and (min-width: 400px) {
  .getapp-container__logo {
    height: 12.5rem;
  }
}
.getapp-container__signout {
  color: whitesmoke;
  padding: 0.1rem 0.6rem;
  font-size: 1.4rem;
  position: absolute;
  top: 6rem;
  right: 2rem;
}
.getapp-container__title {
  color: whitesmoke;
  font-size: 2.3rem;
  margin-top: 3.5rem;
  font-weight: 400;
  text-align: center;
}
@media only screen and (min-width: 571px) {
  .getapp-container__title {
    font-size: 3.3rem;
  }
}
.getapp-container__phone {
  height: 12rem;
  margin: 7rem 4.5rem 5rem 4.5rem;
}
@media only screen and (max-width: 400px) {
  .getapp-container__phone {
    height: 9rem;
  }
}
@media only screen and (min-width: 571px) {
  .getapp-container__phone {
    height: 17rem;
  }
}
.getapp-container__subtitle {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0 3.1rem;
  font-weight: 400;
  text-align: center;
}
.getapp-container__appstore {
  margin: 2.4rem 0 3.6rem 0;
}
.getapp-container .link-container {
  height: min-content;
  max-width: 37.4rem;
  width: calc(100vw - 3.2rem);
  border-top: solid 1px rgb(61, 61, 61);
  padding: 0 5.7rem;
  padding: 1.6rem 0 13.2rem 0;
  display: flex;
  flex-direction: column;
}
.getapp-container .link-container__link {
  color: rgb(0, 190, 227);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0.8rem;
}

.navbar {
  width: 100%;
  height: 7.2rem;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 3.6rem;
  position: sticky;
  top: 0;
  z-index: 9997;
}
@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0 0 0 2rem;
  }
}
.navbar__left-containter {
  height: 5.6rem;
  display: flex;
  align-items: center;
}
.navbar__left-containter--logo {
  height: 4.8rem;
  width: 8.6rem;
  margin-right: 5.2rem;
}
@media only screen and (max-width: 767px) {
  .navbar__left-containter--logo {
    width: 6.8rem;
    height: 3.8rem;
  }
}
.navbar__left-containter .button {
  height: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.navbar__left-containter .button::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: whitesmoke;
  transition: all 0.2s;
}
.navbar__left-containter .button:not(:last-child) {
  margin-right: 4rem;
}
@media only screen and (max-width: 1440px) {
  .navbar__left-containter .button:not(:last-child) {
    margin-right: 3.3rem;
  }
}
.navbar__left-containter .button:last-child {
  display: none;
}
.navbar__left-containter .button:last-child:hover .button__container {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .navbar__left-containter .button:last-child {
    display: block;
    padding: 30px 40px 30px 10px;
  }
  .navbar__left-containter .button:last-child::after {
    display: none;
  }
}
.navbar__left-containter .button:visited {
  color: whitesmoke;
  text-decoration: none;
}
.navbar__left-containter .button:hover .button__text::after {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .navbar__left-containter .button:hover .button__text::after {
    width: 0%;
  }
}
@media (max-width: 1440px) {
  .navbar__left-containter .button:hover::after {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  .navbar__left-containter .button {
    padding: 0 5px;
  }
}
.navbar__left-containter .button__icon {
  fill: whitesmoke;
  margin-right: 1rem;
}
@media only screen and (max-width: 1440px) {
  .navbar__left-containter .button__icon {
    height: max-content;
    margin-right: 0;
  }
}
.navbar__left-containter .button__text {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  position: relative;
}
.navbar__left-containter .button__text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: whitesmoke;
  transition: all 0.2s;
}
@media only screen and (max-width: 1440px) {
  .navbar__left-containter .button__text {
    display: none;
  }
}
.navbar__left-containter .button__dot {
  height: 2px;
  width: 2px;
  background-color: whitesmoke;
  position: relative;
}
.navbar__left-containter .button__dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: whitesmoke;
  transition: all 0.2s;
}
.navbar__left-containter .button__dot::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: whitesmoke;
  transition: all 0.2s;
}
.navbar__left-containter .button__container {
  display: none;
  flex-direction: column;
  position: absolute;
  gap: 15px;
  top: 55px;
  height: min-content;
  width: min-content;
  border: solid 1px rgb(60, 60, 60);
  background-color: black;
  padding: 12px 43px 12px 15px;
}
.navbar__left-containter .button__container .button-hover {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
  text-decoration: none;
}
.navbar__left-containter .button__container .button-hover:hover .button__text::after {
  width: 100%;
}
.navbar__left-containter .button__container .button-hover > .button__text {
  display: block;
  margin-left: 5px;
}
@media only screen and (max-width: 767px) {
  .navbar__left-containter .button:nth-child(5) {
    display: none;
  }
  .navbar__left-containter .button:nth-child(6) {
    display: none;
  }
  .navbar__left-containter .button:nth-child(7) {
    display: none;
  }
}
.navbar__right-containter {
  margin-left: auto;
  height: 100%;
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  border: solid 1px transparent;
  position: absolute;
  right: 0;
  z-index: 9999;
}
@media only screen and (max-width: 1440px) {
  .navbar__right-containter {
    width: min-content;
  }
}
.navbar__right-containter:hover {
  border: solid 1px rgb(60, 60, 60);
  border-bottom: none;
  border-top: none;
  background-color: black;
}
@media only screen and (max-width: 1440px) {
  .navbar__right-containter:hover {
    width: 24rem;
  }
}
.navbar__right-containter:hover .menu {
  height: 49.8rem;
  border-bottom: solid 1px rgb(60, 60, 60);
}
.navbar__right-containter:hover .menu .guest {
  opacity: 1;
  filter: brightness(1);
}
.navbar__right-containter:hover .menu__option {
  opacity: 1;
  filter: brightness(1);
}
@media only screen and (max-width: 767px) {
  .navbar__right-containter:hover .menu {
    height: min-content;
  }
}
@media only screen and (max-width: 1440px) {
  .navbar__right-containter:hover .profile__name {
    display: block;
  }
}
.navbar__right-containter .profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar__right-containter .profile__name {
  color: whitesmoke;
  margin-right: 2.5rem;
  font-size: 1.4rem;
}
@media only screen and (max-width: 1440px) {
  .navbar__right-containter .profile__name {
    display: none;
  }
}
.navbar__right-containter .profile__photo {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .navbar__right-containter .profile__photo {
    height: 3.6rem;
    width: 3.6rem;
  }
}
.navbar__right-containter .menu {
  width: 24rem;
  height: 0;
  border: solid 1px rgb(60, 60, 60);
  background-color: black;
  border-top: none;
  border-bottom: none;
  position: absolute;
  top: 7.2rem;
  overflow: hidden;
  transition: all 0.2s;
}
.navbar__right-containter .menu__line {
  margin-top: 0.5rem;
  height: 2px;
  width: 80%;
  background-color: rgb(45, 45, 45);
  margin: 0 auto;
}
.navbar__right-containter .menu .guest {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  transition: all 0.5s 0.22s;
  filter: brightness(0.2);
}
.navbar__right-containter .menu .guest:last-of-type {
  margin-bottom: 1.125rem;
}
.navbar__right-containter .menu .guest:hover .guest__name {
  color: whitesmoke;
}
.navbar__right-containter .menu .guest__photo {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: 2rem;
}
@media only screen and (max-width: 767px) {
  .navbar__right-containter .menu .guest__photo {
    height: 3.6rem;
    width: 3.6rem;
  }
}
.navbar__right-containter .menu .guest__name {
  color: rgb(150, 150, 150);
  margin-right: 2.5rem;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.navbar__right-containter .menu .guest__add {
  height: 4.8rem;
  width: 4.8rem;
  background-color: rgb(63, 63, 63);
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .navbar__right-containter .menu .guest__add {
    height: 3.6rem;
    width: 3.6rem;
  }
}
.navbar__right-containter .menu__option {
  color: rgb(150, 150, 150);
  font-size: 1.4rem;
  padding: 1.125rem 0;
  padding-left: 2.5rem;
  filter: brightness(0.2);
  transition: filter 0.5s 0.22s;
}
.navbar__right-containter .menu__option:hover {
  color: whitesmoke;
}
@media only screen and (max-width: 767px) {
  .navbar__right-containter .menu__option:last-child {
    margin-bottom: 20px;
  }
}

.footer {
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.footer__logo {
  margin-top: 2rem;
  height: 4.8rem;
}
@media only screen and (max-width: 570px) {
  .footer__logo {
    height: 3.8rem;
  }
}
.footer .contact-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: lighter;
}
.footer .contact-box__link {
  width: calc(max-content + 2rem);
  margin: 1.1rem 0.5rem;
  padding: 0.1rem 0.6rem;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1rem;
}
@media only screen and (max-width: 776px) {
  .footer .contact-box__link {
    margin: 1.1rem 0.1rem;
  }
}
.footer__copyright {
  color: rgb(150, 150, 150);
  font-size: 1.2rem;
  margin-top: 1.1rem;
  margin-bottom: 1.8rem;
}

.poster {
  max-width: 17.6vw;
  height: 9.95vw;
  background-color: transparent;
  border-radius: 4px;
  transition: transform 0.35s;
  overflow: hidden;
  margin: 10px 10px 12px 10px;
}
@media only screen and (max-width: 1440px) {
  .poster {
    max-width: 21.9vw;
    height: 12.31vw;
  }
}
@media only screen and (max-width: 1024px) {
  .poster {
    max-width: 28.32vw;
    height: 15.91vw;
  }
}
@media only screen and (max-width: 756px) {
  .poster {
    max-width: 43.4vw;
    height: 24.3vw;
  }
}
.poster:hover {
  outline: solid 3px whitesmoke;
  outline-offset: 3px;
  transform: scale(1.05);
}

.grid-result {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media only screen and (max-width: 1440px) {
  .grid-result {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  .grid-result {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 756px) {
  .grid-result {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid-result .card {
  height: min-content;
  width: min-content;
}
.grid-result .card > h1 {
  margin-top: 1.6rem;
  color: rgb(150, 150, 150);
  transition: all 0.1s;
}
.grid-result .card__info {
  display: flex;
  gap: 2rem;
  color: rgb(130, 130, 130);
  margin-top: 0.3rem;
}
.grid-result .card__info--text {
  font-size: 1.2rem;
  color: rgb(130, 130, 130);
  transition: all 0.1s;
}
.grid-result .card:hover > h1 {
  color: rgb(226.5, 226.5, 226.5);
}
.grid-result .card:hover .card__info--text {
  color: rgb(193.75, 193.75, 193.75);
}

.container {
  text-align: center;
  min-height: calc(100dvh - 16rem - 7.2rem);
  background-color: rgb(20, 20, 20);
}
.container__title {
  color: whitesmoke;
  font-size: 4.4rem;
  padding: 4rem 0;
}
.container .slider {
  overflow-x: auto;
  scrollbar-width: none;
}
.container .slider .layout {
  width: max-content;
  overflow-x: auto;
  margin-left: 8rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1440px) {
  .container .slider .layout {
    margin-left: 7rem;
  }
}
@media only screen and (max-width: 756px) {
  .container .slider .layout {
    margin-left: 5rem;
  }
}
.container .slider .layout__btn {
  min-width: 10.2rem;
  height: 4rem;
  padding: 0 1.6rem;
  margin-right: 2rem;
  color: whitesmoke;
  background-color: rgb(45, 47, 53);
  border: none;
  border-radius: 3px;
  transition: all 0.15s;
}
.container .slider .layout__btn:hover {
  color: black;
  background-color: whitesmoke;
}

.result-container {
  margin: 0 7.1rem 4rem 7.1rem;
}
@media only screen and (max-width: 1440px) {
  .result-container {
    margin: 0 5.8rem 4rem 5.8rem;
  }
}
@media only screen and (max-width: 1024px) {
  .result-container {
    margin: 0 5.6rem 4rem 5.6rem;
  }
}
@media only screen and (max-width: 756px) {
  .result-container {
    margin: 0 4rem 4rem 4rem;
  }
}

/*# sourceMappingURL=main.css.map */
