@use '../../abstract/mixin' as *;
@use '../../abstract/color' as *;

.brand-collection
{
    height: fit-content;
    background-color: $dark-grey-background;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(6, min-content);
    padding: 0 1rem;
    margin: 1.2rem 0;

    @media only screen and (max-width: 935px)
    {
        gap: 14px;
    }

    @media only screen and (max-width: 767px)
    {
        gap: 20px;
        grid-template-columns: repeat(3, min-content);
    }
}