@use '../../abstract/mixin' as *;
@use '../../abstract/color' as *;

.brand-collection
{
    height: fit-content;
    background-color: $dark-grey-background;
    display: grid;
    grid-template-columns: repeat(6, min-content);
    margin-top: 1rem;

    @media only screen and (max-width: 900px)
    {
        grid-template-columns: repeat(3, 1fr);
    }
}