@use '../../base' as *;
@use '../../variables' as *;
@use '../../abstract' as *;

.carosello-container
{
    overflow-x: hidden;
    position: relative;
    background-color: $dark-grey-background;

    .btn-container-right
    {
        @include slideLayout;
        right: 0;
        background: linear-gradient(to left, rgba(0,0,0,.4), rgba(0,0,0,0));

        &__button
        {
            @include buttonSlide;
        }
    }
    
    .btn-container-left
    {
        @include slideLayout;
        left: 0;
        background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,0));

        &__button
        {
            @include buttonSlide;
        }
    }

    .carosello
    {
        width: 500%;
        height: 33vw;
        display: flex;
        align-items: center;
        
        transition: all .6s;
    
        &__banner
        {
            height: 92%;
            min-width: 90vw;
            background-color: rgb(136, 105, 105);
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            margin: 0 1.25vw;
            transition: all .3s;
            
            & img
            {
                width: 100%;
                height: 100%;
            }

            & div
            {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(5px);
                display: flex;
                align-items: center;
                padding: .5rem;
                border-bottom-right-radius: 5px;

                &, h1, p{color: $black-color;}
                &, h1{font-size: 4rem;}
                &, p{font-size: 2rem; padding-left: 1rem;}
            }

            &:hover
            {
                border: solid 3px $white-color;
            }
        }
    }
}
