@use '../../variables/color' as *;

.search-container
{
    min-height: calc(100dvh - 16rem - 7.2rem);
    background-color: $dark-grey-background;
    position: relative;

    .result-container
    {
        padding: 0 6.8rem 4rem 6.8rem;

        &__title
        {
            color: $white-color;
            font-size: 5rem;
            padding: .5rem 0 2rem 0;
            font-weight: 400;
        }
    }

    .grid-result
    {
        @for $i from 1 through 20
        {
            .default-search:nth-child(#{$i})
            {
                background-image: url('../../../assets/img/compose-#{$i}.webp');
                background-size: cover;
            }
        }
    }

    .search-bar
    {
        height: min-content;
        display: flex;
        align-items: center;
        margin-bottom: 6rem;
        position: sticky;
        top: 7.2rem;
        z-index: 999;
    
        &__text-box
        {
            width: 100%;
            height: 10rem;
            background: linear-gradient(to bottom, rgb(41,42,48), rgba(74, 77, 87));
            border: none;
            padding-left: 9rem;
            font-size: 3rem;
            color: $white-color;
            
            &::placeholder
            {
                font-size: 3rem;
                font-weight: 600;
                color: rgb(162, 163 ,167);
                align-self: center;;
            }

            &:focus
            {
                outline: none;
                background: linear-gradient(to bottom, rgb(49, 50, 58), rgba(183, 183, 187));

                &::placeholder
                {
                    color: rgb(229, 229, 229);
                }
            }
        }

        &__cross
        {
            height: 6rem;
            width: 6rem;
            right: 7rem;
            background-color: transparent;
            border: none;
            position: absolute;
            z-index: 999;
            padding: 1rem;
            display: none;

            & > svg
            {
                height: 100%;
                width: 100%;
                fill: $white-color;
            }
        }
    }
}