@use '../../../variables' as *;
@use '../../../abstract/mixin' as *;

.new-film
{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $dark-grey-background;
    overflow-x: hidden;

    &__title
    {
        font-size: 1.8rem;
        color: $white-color;
        padding-left: 5rem;
    }

    .film-carosello
    {
        height: min-content;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .continaer-slide
    {
        width: max-content;
        height: 22.2rem;
        display: flex;
        align-items: center;
        padding: 0 5rem;
        gap: 2.2rem;
        overflow-x: auto;
    }
}