@use '../abstract/color' as *;

.brand-card
{
    width: 14.56vw;
    height: 8.19vw;
    border-radius: 12px;
    background-color: $background-button;
    display: flex;
    position: relative;
    transition: transform .3s;
    overflow: hidden;
    box-shadow: 0 20px 20px 0 rgba($black-color, .8);

    @media only screen and (max-width: 767px)
    {
        width: 27.80vw;
        height: 15.64vw;
    }

    &:hover
    {
        transform: scale(1.06);
        outline: solid 3px $white-color;
        outline-offset: 3px;

        .video-bg
        {
            opacity: 1;
        }
    }


    .logo-container
    {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 4;

        &__img
        {
            width: 100%;
            height: 100%;
        }
    }

    .video-bg
    {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        opacity: 0;
    }
}