@use '../base' as *;
@use '../variables' as *;
@use '../abstract' as *;

.carosello-container
{
    overflow-x: hidden;
    position: relative;
    background-color: $dark-grey-background;

    .btn-container-right
    {
        @include slideLayout;
        right: 0;
        background: linear-gradient(to left, rgba(0,0,0,.4), rgba(0,0,0,0));

        &__button
        {
            @include buttonSlide;
        }
    }
    
    .btn-container-left
    {
        @include slideLayout;
        left: 0;
        background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,0));

        &__button
        {
            @include buttonSlide;
        }
    }

    .carosello
    {
        width: 500%;
        height: 33vw;
        display: flex;
        align-items: center;
        transform: translateX(-90vw);
    
        &__banner
        {
            height: 92%;
            width: 90vw;
            background-color: rgb(136, 105, 105);
            border-radius: 5px;
            transition: all .3s;

            &:hover
            {
                border: solid 3px $white-color;
            }

            &:not(:last-child)
            {
                margin-left: 2.5vw;
            }
    
        }
    }
}
