@use '../abstract/color' as *;
@use '../abstract/mixin' as *;

.film-carousel
{
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;

    &::after
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 6rem;
        height: 100%;
        background: linear-gradient( to right, rgba($dark-grey-background, 1), transparent 100%);
        z-index: 5;
    }

    &::before
    {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 6rem;
        height: 100%;
        background: linear-gradient( to left, rgba($dark-grey-background, 1), transparent 100%);
        z-index: 5;
    }

    .btn-container-left
    {
        @include carouselButtonContainer;
        left: 0;
        display: none;

        &:hover
        {
            .btn-container-left__button
            {
                display: block
            }
        }

        &__button
        {
            @include carouselButton;
            display: none;

            & svg
            {
                @include carouselButtonIcon;
            }
        }
    }

    .btn-container-right
    {
        @include carouselButtonContainer;
        right: 0;

        &:hover
        {
            .btn-container-right__button
            {
                display: block
            }
        }

        &__button
        {
            @include carouselButton;
            display: none;

            & svg
            {
                @include carouselButtonIcon;
            }
        }
    }
    
    .container-slide
    {
        height: max-content;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        gap: 20px;
        padding: 1.1rem 0 0rem 0;
        padding-left: clamp(1rem, 4vw, 6rem);
        padding-right: clamp(1rem, 4vw, 6rem);
        overflow-x: scroll;
        scrollbar-width: none;

        & .vertical-poster, .horizontal-poster
        {
            box-shadow: 0 20px 20px 0 rgba($black-color, .8);
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: 480px)
        {
            padding: 0 1rem;
        }
    }
}