@use '../abstract/color' as *;

.horizontal-poster
{
    width: 17.3vw; // 331px | 17.6vw
    height: 9.63vw; // 191px | 9.95vw
    background-color: transparent;
    border-radius: 4px;
    transition: transform .35s;
    overflow: hidden;
    margin-bottom: 2px;
    background-size: cover;

    @media only screen and (max-width: 1439px)
    {
        width: 21.52vw; // 315px
        height: 11.927vw; // 177px
    }

    @media only screen and (max-width: 1023px)
    {
        width: 27.79vw; // 290px
        height: 15.38vw; // 163px
    }

    @media only screen and (max-width: 767px)
    {
        width: 42.7vw; // 328px
        height: 23.67vw; // 184px
    }

    &:hover
    {
        outline: solid 3px $white-color;
        outline-offset: 3px;
        transform: scale(1.05);
    }
}