@use '../abstract/color' as *;

.poster
{
    width: 17.6vw; // 331px | 17.6vw
    height: 9.95vw; // 191px | 9.95vw
    background-color: transparent;
    border-radius: 4px;
    transition: transform .35s;
    overflow: hidden;
    margin: 10px 10px 12px 10px;
    background-size: cover;

    @media only screen and (max-width: 1440px)
    {
        width: 21.9vw; // 315px
        height: 12.31vw; // 177px
    }

    @media only screen and (max-width: 1024px)
    {
        width: 28.32vw; // 290px
        height: 15.91vw; // 163px
    }

    @media only screen and (max-width: 756px)
    {
        width: 43.4vw; // 328px
        height: 24.3vw; // 184px
    }

    &:hover
    {
        outline: solid 3px $white-color;
        outline-offset: 3px;
        transform: scale(1.05);
    }
}