@use '../../variables/color' as *;

.poster
{
    width: 17.6vw; // 331px | 17.6vw
    height: 9.95vw; // 191px | 9.95vw
    max-width: 33.1rem; // 191px
    background-color: transparent;
    border-radius: 4px;
    transition: all .35s;
    overflow: hidden;

    & > img
    {
        width: 100%;
        height: 100%;
    }

    &:hover
    {
        outline: solid 4px $white-color;
        outline-offset: 3px;
        transform: scale(1.05);
    }
}