$black-color: black; 
$white-color: whitesmoke;
$grey-border-color: rgb(60, 60, 60);
$light-grey-color: rgb(150, 150, 150);
$grey-color: rgb(130, 130, 130);
$grey-color-2: rgb(61, 61, 61);
$dark-grey-background: rgb(20, 20, 20);
$dark-grey-background-mobile: rgb(20, 20, 20);
$background-button: rgb(45, 47, 53);
$light-background-button: rgb(70, 69, 72);

$white-color-2: whitesmoke;

$link-color: rgb(0, 190, 227);