@use '../variables' as *;

@mixin slideLayout
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10rem;
    z-index: 1;

    &:hover
    {
        .btn-container-left__button, .btn-container-right__button
        {
            opacity: 1;
        }
    }
}

@mixin buttonSlide
{
    height: 4rem;
    width: 4rem;
    border: none;
    background-color: transparent;
    color: $white-color;
    font-size: 5rem;
    opacity: 0;
    transition: all .25s;
}